.calculo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.dados-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
}

.resultado-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: #f1f1f1;
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: #f1f1f1;
}

.view_espaco {
  padding: 10px;
}

.todos-button {
  padding: 10px 20px;
  background-color: #0d00ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.calcular-button {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



